@font-face {
  font-family: League spartan;
  src: url(static/css/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

* {
  font-family: League spartan;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #ddff00f3;
}
html {
  font-size: 62%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
/* header styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  z-index: 100;
}
.header .sticky {
  border-bottom: 0.1rem rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 2.8rem;
  color: var(--text-color);
  font-weight: 400;
  cursor: default;
}
nav a {
  color: var(--text-color);
  font-size: 1.8rem;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.5s;
}
nav a:hover,
nav a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--text-color);
  display: none;
}
.home-image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid var(--main-color);
  margin-left: 15px;
  box-shadow: 0 0 3rem var(--main-color);
  animation: Floating 4s ease-in-out infinite;
}
@keyframes Floating {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }
    
}
/* home page styling */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 400;
}
.home-content h1 {
  font-size: 5.2rem;
  font-weight: 500;
  line-height: 1.3;
}
.home-content span {
  color: var(--main-color);
  font-weight: 500;
}
.home-content p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 1.2rem;
}

.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s;
}
.social-links a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.home-btn {
  display: inline-flex;
  padding: 1.2rem 2.8rem;
  border: 0.2rem solid var(--main-color);
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 4rem;
  transition: 0.5s;
  margin-left: 1rem;
}
.home-btn:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
/* about page styling */
.about-content {
  margin-bottom: 2.2rem;
}
.about-content h3 {
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
}
.edu-head {
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
}
.about-content span {
  color: var(--main-color);
  font-weight: 500;
}
.about-content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 1.2rem;
  text-align: justify;
  background: var(--second-bg-color);
  padding: 1.5rem;
  border-radius: 15px;
}
.education-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.education {
  padding: 2rem;
  border-radius: 20px;
  background: var(--second-bg-color);
  height: 220px;
  margin-top: 3rem;
  width: 510px;
  transition: 0.6s;
}
.education:hover {
  box-shadow: 0 0 2rem var(--main-color);
}

.education h4 {
  font-size: 3rem;
  font-weight: 400;
  margin: 1rem 0;
  text-align: center;
}

.education p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0.8rem;
  text-align: center;
}
/* skills page styling */
.skills-content h3 {
  font-size: 4.5rem;
  font-weight: 400;
}
.my-skills {
  text-align: center;
}
.skills-content span {
  color: var(--main-color);
  font-weight: 500;
}

.works {
  /* border: 2px solid var(--main-color); */
  text-align: center;
  padding: 2rem;
  margin: 1.5rem 0;
  border-radius: 15px;
  transition: 0.5s;
  margin-bottom: 2.5rem;
  background: var(--second-bg-color);
}
.works i {
  font-size: 4rem;
  text-align: center;
}
.works h4 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.works p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}
.works:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.skills h2 {
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
}
.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}
.skills h5 {
  font-size: 2.5rem;
  margin-top: 2rem;
  font-weight: 400;
  text-align: center;
}
.skills-list h1 {
  margin: 2rem 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1rem;

  border-radius: 4px;

  transition: 0.5s;
  background-color: var(--second-bg-color);
}
.skills-list h1:hover {
  background-color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  cursor: default;
}
.skills-list i {
  margin-right: 0.2rem;
}
/* Projects page styling */
.projects-content {
  text-align: center;
}

.projects-content h3 {
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
}

.projects-content span {
  font-weight: 500;
  color: var(--main-color);
}
.projects-list {
  max-width: 100%;
  padding: 2rem;

  margin-top: 1.3rem;
  border-radius: 10px;
  margin: 3rem 0;
  transition: 0.5s;
  background: var(--second-bg-color);
}
.projects-list li{
  font-size: 2rem;
  line-height: 1.5;
  text-align: justify;
  font-weight: 300;
}
.projects-list:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.projects-list span {
  font-weight: 400;
}
.projects-list h5 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.projects-list p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 1rem;
}
.projects-list h6 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1.2rem;
}
.projects-list a {
  color: var(--main-color);
  font-size: 1.8rem;
  padding: 0.6rem;
  border-radius: 5px;
  font-weight: 300;
  transition: 0.5s;
}
.projects-list a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  font-weight: 300;
}

/* contact page styling */

.contact-content h3 {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 400;
}
.contact-content form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.contact-content form input {
  width: 100%;
  height: 5rem;
  margin: 2rem 0;
}
.contact-content form textarea {
  width: 100%;
  margin: 2rem 0;
  text-indent: 5px;
  padding-top: 10px;
  resize: none;
}
.contact-content form input,
.contact-content form textarea {
  background: var(--second-bg-color);
  font-size: 2rem;
  color: white;
  border-radius: 8px;
  text-indent: 5px;
  font-weight: 400;
  text-indent: 2rem;
}
::placeholder {
  color: white;
  opacity: 0.6;
}
.contact-content form input:focus,
.contact-content form textarea:focus {
  box-shadow: 0 0 1rem var(--main-color);
}
.contact-content button {
  height: 4.5rem;
  padding: 1.5rem;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 1rem;
  background: transparent;
  font-size: 1.8rem;
  font-weight: 300;
  transition: 0.5s;
  margin-bottom: 2rem;
}
.contact-content button:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  cursor: pointer;
  font-weight: 400;
}
.my-details{
  margin: 1.5rem 0;
}
.my-details p{
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;

}

.footer-text {
  background: var(--second-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.footer-text p,
.top-icon {
  /* margin: 0rem 2.5rem; */
  font-weight: 300;
}
.top-icon {
  background: var(--main-color);
  padding: 1rem;
  border-radius: 50%;
}
.top-icon i {
  text-align: center;
  color: var(--second-bg-color);
  font-size: 2.3rem;
}
.top-icon:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

/* Break points */
@media (max-width: 1243px) {
  .education {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
    
  }
  section {
    padding: 10rem 3% 10rem 2rem;
    min-height: 90vh;
    overflow-x: hidden;
  }
  

  .education {
    height: 200px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  #menu-icon {
    display: block;
  }
  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  nav.active {
    display: block;
  }
  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
  }
  .home {
    flex-direction: column;
  }
  .home-image img {
    height: 250px;
    width: 250px;
    margin-top: 4rem;
  }
  .home-content h3 {
    font-size: 3rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .education {
    left: 48%;
    max-height: 180px;
  }
}
@media (max-width: 550px) {
  .education h4 {
    font-size: 2.5rem;
  }

  .education p {
    font-size: 1.8rem;
  }
  .education {
    left: 46%;
    max-height: 180px;
  }
 
}
@media (max-width: 450px) {
  html {
    font-size: 47%;
  }
  .projects-list h5 {
    font-size: 2rem;
  }

  .education {
    left: 46%;
    max-height: 150px;
  }

  .home h1 {
    font-size: 4.8rem;
  }
  .skills-list h1 {
    font-size: 1.5rem;
  }
  .footer-text p {
    font-size: 1.6rem;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 36%;
  }
  .education {
    height: 120px;
  }
  .skills-list h1 {
    font-size: 1.5rem;
  }
}

